{{#if error}}
    <p style="color:red">{{error}}</p>
{{/if}}

<h1>Now you can change the password</h1>
<p>Please fill with a new password</p>
<p>{{email}}</p>
<form action="http://localhost:3000/api/sessions/changePassword/{{email}}" method="POST">
    <input type="password" name="password" placeholder="Enter the new password">
    <input type="password" name="repeatedPassword" placeholder="Pleace repeat the same password">
    <input type="submit" value="Change">
</form>