<h2>Home</h2>
<hr>
<div>
    <div>
        <h1>Hello, this is the main page</h1>
        <p>Please choose the section you want to visit</p>
    </div>
</div>

<hr>

<hr>
<div id="buttons">
    <a href="/realTimeProducts">
        <button>Real Time Products</button>
    </a>
    <hr>
    <a href="/chat">
        <button>Chat</button>
    </a>
    <hr>
    <a href="/cart">
        <button>Cart</button>
    </a>
    <hr>
    <a href="/products">
        <button>Products</button>
    </a>
    <hr>
    <a href="/contact">
        <button>Contact</button>
    </a>
</div>

{{>menu}}