{{#if error}}
    <p style="color: red;">{{error}}</p>
{{/if}}

<h1>Please, enter your email</h1>
<p>We gonna send you a recovery link</p>
<form action="http://localhost:3000/api/sessions/forgotPassword" method="POST">
    <input type="email" name="email" id="email" placeholder="Enter your email">
    <input type="submit" value="send">
</form>