<h1>Your recovery link has expired</h1>
<p>You can regenerate it clicking the next button</p>
<button onclick="regenerateLink()">Regenerate link</button>

<script>
    function regenerateLink(){
        window.location = '/recoveryPassword'
    }
</script>